* {
    margin: 0;
    padding: 0;
  }
  
  .wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    /* background-color: #77f5d3; */
    background-color: #A3B8BB;
  }
  
  .wrapper h1{
    margin-top: 30px;
    text-align: center;
  }
  
  .wrapper p{
    text-align: center;
    margin-top: 7px;
    font-weight: bold;
  }
  
  .wrapper .main{
    display: flex;
    margin-top: 20px;
    align-items: center;
  }
  
  .wrapper .form-container{
    width: 500px;
    background-color: #65969c;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  .wrapper .form-container .btn{
    width: 100%;
  }
  
  .wrapper .view-container{
    width: 700px;
    background-color: #65969c;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  
  .delete-btn{
    color: red;
    cursor: pointer;
    padding: 30px;
    margin-left: 50px;
  }
  
  tbody{
    margin-top: 25px;
  }  

.delete_btn {
  cursor: pointer;
  color: red;
}